#display-main {
  width: 100%;
  height: 100%;
  background-image: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/theme-background/zma.svg);
  display: flex;
}

#display-main #navbar-main .login-vip--container {
  bottom: 100px;
}

.right-container {
  width: calc(100% - 220px);
  height: 100vh;
  overflow-y: auto;
  padding: 16px 2% 60px;
}
/* container-right-content */
.content-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
}
.content-container-left {
  flex: 3;
}
.content-container .content-container-left .avt-disk-play {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.content-container .content-container-left .avt-disk-play img {
  object-fit: contain;
  border-radius: 5px;
  width: 100%;
}
.media-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}
.content-top {
  text-align: center;
  width: 100%;
}
.content-top .title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.title,
.release,
.artists a,
.artists span,
.like {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.5);
}
.content-top .artists {
  margin: 5px;
}
.actions {
  margin-top: 16px;
}

.like {
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}
.like p {
  padding: 5px 10px;
}
.actions .btn-play-all {
  background-color: #ed2b91;
  border-color: #ed2b91;
  color: #fff;
  padding: 5px 15px;
  border-radius: 999px;
  border: none;
  outline: none;
  cursor: pointer;
}
.media-content .actions .fa-play {
  margin-right: 5px;
}
.media_right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}
.media_right-btn {
  padding: 10px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.media_right-btn:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}

/* danh sach bai hat */
.list-song {
  position: relative;
  background-color: #0000008f;
  margin-bottom: 20px;
}
.content-container-right {
  color: #fff;
  flex: 7;
  margin-left: 30px;
}

.content-container-right span {
  color: hsla(0, 0%, 100%, 0.5);
}

.zing-recommend--item {
  align-items: center;
  background: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.zing-recommend--item:not(.zing-recommend--item.zing-recommend--title):hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}
.zing-recommend--item-left,
.zing-recommend--item-center,
.zing-recommend--item-right {
  color: hsla(0, 0%, 100%, 0.5);
}
.zing-recommend--item-left {
  flex: 5;
  display: flex;
}
.zing-recommend--item-center {
  font-size: 13px;
  flex: 2;
  text-align: start;
  display: flex;
  justify-content: space-evenly;
}

.zing-recommend--item-center i {
  margin-right: 5px;
  font-size: 18px;
}
.zing-recommend--item-right {
  font-size: 14px;
  flex: 1;
  text-align: end;
}

.zing-recommend--item-text {
  align-self: start;
  flex: 5;
}
.img-avt-infor {
  border-radius: 3px;
  width: 70px;
  height: 50px;
  flex: 1;
  margin-right: 10px;
}
.img-avt-infor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name-song {
  color: #fff;
  font-size: 13px;
  margin-bottom: 4px;
}
.name-single {
  font-size: 10px;
}

.action_updateSong {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #0000008f;
}

.action_updateSong a {
  cursor: pointer;
  padding: 10px;
}

.action_updateSong a:hover i.fa-trash {
  color: red;
}

.action_updateSong a:hover i.fa-wrench {
  color: forestgreen;
}

.zing-recommend--item.add_song {
  border: 3px dotted wheat;
  color: wheat;
  width: 80%;
  height: 60px;
  padding: 0;
  font-size: 20px;
  margin: 20px auto;
}

.zing-recommend--item.add_song:hover {
  background-color: rgba(250, 235, 215, 0.6);
}

/* CSS cho tablet (độ rộng màn hình từ 768px đến 1024px) */
@media (max-width: 1024px) {
  /* Đặt thuộc tính cho các phần tử dành cho tablet ở đây */
  .zing-recommend--item {
    margin: 0;
  }

  .content-container {
    display: flex;
    flex-direction: column;
  }
  .right-container {
    width: 100%;
  }

  .content-container .content-container-left {
    width: 100%;
    position: sticky;
    height: 100%;
  }

  .content-container .content-container-left .avt-disk-play {
    max-height: 300px;
  }
  .content-container-right .description {
    margin: 25px 0 15px;
  }

  .content-container-left {
    width: 100%;
    display: flex;
  }

  .media-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
  }

  .media-content .actions {
    margin-top: 25px;
  }
  .content-top .artists {
    margin: 5px 5px 5px 0;
  }

  .content-top {
    text-align: left;
  }

  .content-container-right {
    margin-left: 0;
    margin-top: 30px;
  }
  .like {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
.list-song a:nth-child(1){
padding: 0 5px;
}
  .like {
    align-items: flex-start;
    flex-direction: column;
  }
}
