/* Trending author  */

.trending-author {
  margin: 60px 0;
}

.trending-author .trending-author--list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px;

}

.trending-author .trending-author--list a {
  text-align: center;
  position: relative;
  width: calc(100% / 5);
  overflow: hidden;
  padding: 10px;
}
.trending-author .trending-author--list i.fa-circle-play {
  display: none;
  font-size: 50px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - (50px / 2));
  z-index: 10;
}

.trending-author .trending-author--list a li {
  border-radius: 4px;
  border: 2px solid #ffffff;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
}

.trending-author .trending-author--list a li img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.trending-author .trending-author--list a:hover i.fa-circle-play {
  display: inline !important;
}
.trending-author .trending-author--list a:hover li img {
  transform: scale(1.2);
  transition: all 0.8s ease-in-out;
  filter: brightness(0.5);
}

.trending-author .trending-author--list a p {
  font-size: 14px;
  margin: -4px;
}
.trending-author .trending-author--list a p i{
  padding:0 4px;
}

.trending-author .trending-author--list a p.title-author {
  font-weight: 600;
  padding: 10px 0;
}

.trending-author .trending-author--list a:hover p {
  color: #9b4de0;
}

.trending-author .trending-author--list a p.name-author {
  font-size: 13px;
}

@media (min-width: 769px) and (max-width: 768px) {
  .trending-author .trending-author--list a {
    width: calc(100% / 4);
  }
}

@media (max-width: 768px) {
  .trending-author .trending-author--list a {
    width: calc(100% / 2);
  }
}
